header {
    height: 450px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1F2937;
    
}

div.heading-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 100px;
}

div.container-1 {
    width: 30%;
    margin-left: auto;
    margin-right: 11%;
    display: flex;
    align-items: start;

}

div.item-1 {
    color: #E5E7EB;
    font-size: 18px; 
    width: 60px;
    flex: 1;
    
}

div.item-2 {
    color: #E5E7EB;
    font-size: 18px;
    width: 60px;
    flex: 1;
}

div.item-3 {
    font-size: 18px;
    color: #E5E7EB;
    width: 60px;
    flex: 1;
}

div.item-4 {
    flex: 1;
    color: #E5E7EB;
    flex: 2;
    margin-left: 10%;
}

div.container-2 {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
   
}

div.item-5 {
   width: 50%;
   align-items:flex-start;

}

div.item-6 {
    width: 50%;
    align-items: flex-start;
    border-style: thin solid white;
    margin-left: 5%;
}

.heading {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.heading-1 {
    font-size: 18px;
    color:#F9FAF8;
}

.section-1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    background-color: #3882F6;
    display: flex;
    gap: 10px;
    justify-content: center;
    
}

.sec-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-left: 30%;
    

}

.container-3 {
    width: 0%;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    background-color: #3882F6;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.box {
    width: 175px;
    height: 175px;
    border: 4px solid white;
    border-radius: 1em;
}

.subtext {
    margin-top: 10px;
    width: 175px;
}

.sec-2 {
    background-color: #E5E7EB;
    height: 350px;
    width: 80%;
    margin-right: auto;
    margin-left: auto; 
}

.quote {
    font-size: 36px;
    font-weight: light;
    color: #1F2937;
    margin: 0% 20% 0% 20%; 
    padding-top: 2%;
}
div.quote-author {
    margin-left: 75%;
    font-weight: bold;
}

.sec-3 {
    background-color: white;
    height: 350px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.box-9 {
    width: 74%;
    height: 175px;
    background-color: #3882F6;
    border-radius: 1em;
}

div.content-1 {
    flex: 3;
    text-align: left;
    margin-top: 40px;
    margin-left: 30px;
}

div.content-2 {
    flex:1;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.heading-3 {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: bold;
}
.content-4 {
    color: #E5E7EB;
    font-weight: bold;
}
.button-2 {
    border-style: bold, white solid;
    border-radius: 1em;
}